{% extends 'base.html' %}
{% load static %}


{% block title %} success {% endblock %}

{% block content %}
<section class="faq-section" style="background: #fff; padding: 50px 0px;">
    <div class="container">
       <div class="row clearfix">
          <div class="col-md-12 why-choose">
             <div class="row">
                <div class="col-md-12">
                   <div class="sec-title text-center wow zoomIn text-center" style="visibility: visible; animation-name: zoomIn;">
                    
                    <iframe src="https://embed.lottiefiles.com/animation/99684"></iframe>

                      <h2 class="text-center" style="margin-bottom: 15px;">Your form has been submitted. 👍</h2>
                      <p style="font-weight: 600; font-size: 18px;">Our team will contact you shortly.</p>
                      <small style="font-size: 14px;">Thank you for choosing Building Ghar. 😊</small>
                   </div>
                </div>
                
             </div>
          </div>
       </div>
    </div>
 </section>

 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
{% endblock %}