{% extends 'base.html' %}
{% load static %}

{% block title %}Project{% endblock %}

{% block content %}
<style>
    .centered {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    .bold {
        font-weight: bold;
    }
    
    .video-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .video {
        margin: 0 10px;
    }
</style>

<div class="centered">
    <h3><span class="bold">Site Video</span></h3>
</div>
<div class="video-container" id="site-video-container">
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/01Qs_XNqqtY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NC4kb0IDcjw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uMEv28FFL8A" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/quVKe8Smk0c" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div class="centered">
    <h3><span class="bold">Design Video</span></h3>
</div>
<div class="video-container" id="design-video-container">
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/01Qs_XNqqtY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NC4kb0IDcjw" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uMEv28FFL8A" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/quVKe8Smk0c" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zJiFl5jYPX4" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mgM4s_6-opE" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<script src="https://kit.fontawesome.com/your-fontawesome-kit.js"></script>
{% endblock %}
